@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffc40c;
  --branding-cyan: #17bfb8;
  --branding-pink: #e22a73;
  --branding-blue: #3370ba;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffc40c;
    --branding-cyan: #17bfb8;
    --branding-pink: #e22a73;
    --branding-blue: #3370ba;
  }
}

html {
  @apply bg-neutral-200 text-neutral-800;
}

main {
  @apply relative z-10 grid grid-cols-1 lg:grid-cols-2 gap-6 w-[calc(100vw-10rem)] lg:w-[calc(100vw-20rem)] mx-auto overflow-visible py-20;
}
main .drawing-wrapper,
main .result-wrapper {
  @apply relative w-full aspect-square;
}
